<div class="container" th:fragment="footerComponent">
	<footer class="py-5" >
    	<div class="row">
      		<div class="col-2">
        		<h5 th:text=#{footer.title}>Example</h5>
        		<ul class="nav flex-column">
          			<li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Ana sayfa</a></li>
          			<li class="nav-item mb-2"><a href="/help" class="nav-link p-0 text-muted">Yardım</a></li>
          			<li class="nav-item mb-2"><a href="/policies" class="nav-link p-0 text-muted">Koşullar</a></li>
          			<li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-muted">Sıkça sorulan sorular</a></li>
          			<li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Hakkımızda</a></li>
        		</ul>
      		</div>
      		<div class="col-2">
        		<h5>Site</h5>
        		<ul class="nav flex-column">
          			<li class="nav-item mb-2"><a href="/site_map" class="nav-link p-0 text-muted">Site haritası</a></li>
          			<li class="nav-item mb-2"><a href="/features" class="nav-link p-0 text-muted">Özellikler</a></li>
          			<li class="nav-item mb-2"><a href="/career" class="nav-link p-0 text-muted">Kariyer</a></li>
          			<li class="nav-item mb-2"><a href="/cookies" class="nav-link p-0 text-muted">Çerezler</a></li>
        		</ul>
      		</div>
      		<div class="col-4 offset-1">
        		<form>
          			<h5>Bültene abone ol</h5>
          			<p>Aylık haberlerden haberdar olmak ve bildirimler almak için abone ol.</p>
          			<div class="d-flex w-100 gap-2">
            			<label for="newsletter1" class="visually-hidden">Email adresi</label>
            			<input id="newsletter1" type="text" class="form-control" placeholder="Email adresi">
            			<button class="btn btn-primary btn-blue" type="button">Abone</button>
          			</div>
        		</form>
      		</div>
    	</div>
    	<div class="d-flex justify-content-between py-4 my-4 border-top">
      		<p>Example © 2021 Company, Inc. Tüm hakları saklıdır.</p>
      		<ul class="list-unstyled d-flex">
        		<li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="/svg/twitter.svg#twitter"></use></svg></a></li>
        		<li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="/svg/instagram.svg#instagram"></use></svg></a></li>
        		<li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="/svg/facebook.svg#facebook"></use></svg></a></li>
      		</ul>
    	</div>
  	</footer>
</div>